{% ckan_extends %}

{% block package_resources %}

  {% if pkg.resources %}
    <div class="btn-group" style="float:right; margin-top: -7px;">

      {% set zip_res = h.downloadall__pop_zip_resource(pkg) %}
      {% if zip_res %}
        <a class="btn btn-primary resource-url-analytics resource-type-{{ zip_res.resource_type }}" href="{{ zip_res.url }}">
      {% else %}
        <a class="btn btn-primary" disabled="disabled" title="This download is not currently available" href="#">
      {% endif %}
          <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download all') }}
        </a>

    </div>
  {% endif %}

  {{ super() }}

{% endblock %}
