{% ckan_extends %}

{% block package_resources %}
  <!-- <div style="float:right; margin-right: -7px;">
    <a href="{% url_for 'export_datapackage', package_id=pkg.name %}"
       class='btn' id='export_datapackage_button'> -->

  {% set zip_res = h.downloadall__pop_zip_resource(pkg) %}

  <div class="btn-group" style="float:right">
    {% if zip_res %}
      <a class="btn btn-primary resource-url-analytics resource-type-{{ zip_res.resource_type }}" href="{{ zip_res.url }}">
        <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download all') }}
      </a>
    {% else %}
      <span>'Download all' not currently available</span>
    {% endif %}
  </div>

  {{ super() }}

{% endblock %}
